<div class="page d-flex flex-row h-100 w-100">
    <div class="align-items-start h-100">
        <app-menu></app-menu>
    </div>
    <div class="align-items-end align-items-stretch w-100">
        <app-main></app-main>
    </div>
</div>
<!--<div class="page d-flex flex-column h-100">
    <div class="align-items-start">
        <app-header></app-header>
    </div>
    <div class="center container-fluid align-items-center h-100 mt-3 mb-3">
        <div class="row">
            <div class="col-sm-3">
                <app-lside></app-lside>
            </div>
            <div class="col-sm-6">
                <app-main></app-main>
            </div>
            <div class="col-sm-3">
                <app-rside></app-rside>
            </div>
        </div>
        <div >
            <app-colophon></app-colophon>
        </div>
    </div>
    <div class="align-items-end">
        <app-footer></app-footer>
    </div>
</div>-->